body {
    grid-kiss:
            "+----------+      "
            "|  header  | 80px "
            "+----------+      "
            "                  "
            "+----------+      "
            "|  .bloc1  |      "
            "+----------+      "
            "                  "
            "+----------+      "
            "|  .bloc2  |      "
            "+----------+      "
            "                  "
            "+----------+      "
            "|  .bloc3  |      "
            "+----------+      "
            "                  "
            "+----------+      "
            "|  .bloc4  |      "
            "+----------+      "
}

@media (min-width:640px){
    body {
        grid-kiss:
                "+----------------------------+      "
                "|        header              | 120px"
                "+----------------------------+      "
                "                                    "
                "+------------+  +------------+      "
                "|   .bloc1   |  |   .bloc2   |      "
                "+------------+  +------------+      "
                "                                    "
                "+------------+  +------------+      "
                "|   .bloc3   |  |   .bloc4   |      "
                "+------------+  +------------+      "
    }
}

@media (min-width: 960px){
    body {
        grid-kiss:
                "+--------------------------------+       "
                "|             header             | 120px "
                "+--------------------------------+       "
                "                                         "
                "+--------------------------------+       "
                "|             .bloc1             | 6rem "
                "+--------------------------------+       "
                "                                         "
                "+--------+  +--------+  +--------+       "
                "| .bloc2 |  | .bloc3 |  | .bloc4 |       "
                "+--------+  +--------+  +--------+       "
    }
}

header { background: yellow }
.bloc1 { background: blue }
.bloc2 { background: green }
.bloc3 { background: purple }
.bloc4 { background: chocolate }

.bloc {
    text-align:center;
    color: white;
    font-size: 48px;
}